/* background-image: url("./dog-home.jpg"); */

/* .homeBody {
    background-image: url("./dog-home.jpg");
    background-color: tomato;
} */

.body {
    background-image: url("./dog-home2.jpg");
    background-size: cover;
}

.home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.filters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    margin: 5px;
    height: 30px;
    margin-top: 5px;
    border: 1px;
    border-color: darkslategray;
}

