
.landingPage {
    display: flex;
    justify-content: center;
    background-image: url("./huellas-dog.jpg");
    background-repeat: repeat;
    background-size: contain;
    height: 100vh;
    align-self: center;
}

.btn {
    color: #b80303;
    border-color: #a7a7a7;
    background-color: #ffffff;
    width: 100px;
    margin: 200px;
    align-self: center;
    border-radius: 100px;
    text-align: center;
}


.btn:hover {
    border-color: white;
    background-color: #a2a5c5;
    color: white;
}